parameters:
  level: max
  paths:
    - src
    - tests
  checkGenericClassInNonGenericObjectType: true
  checkMissingIterableValueType: true
  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false
includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
